name: Build and test PRs

on:
    workflow_call:
      inputs:
        java:
            description: "The version of Java to use to run Gradle" # Note: Gradle's Java toolchains feature is used for compiling, which is separate from this
            required: false
            type: string
            default: "17"
        gradle_tasks:
            description: "The Gradle task(s) to run"
            required: false
            type: string
            default: "build"
        jar_compatibility:
            description: "If JCC tasks should be run"
            required: false
            type: boolean
            default: false

jobs:
    build:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout repository
          uses: actions/checkout@v4
          with:
            fetch-depth: 1000
            fetch-tags: true
        - name: Fetch tags # See https://github.com/actions/checkout/issues/2041
          run: git fetch --tags

        # Switch to a new branch with the PR number and PR branch name,
        # for the projects where the buildscript uses the branch name
        - name: Create branch for commit
          run:
            git switch -C pr-${{ github.event.pull_request.number }}-${{ github.event.pull_request.head.ref }}

        - name: Make Gradlew executable
          # language=bash
          run: chmod +x ./gradlew # Thanks Windows

        - name: Setup Java ${{ inputs.java }}
          uses: neoforged/actions/setup-java@main
          with:
            java-version: ${{ inputs.java }}

        - name: Setup Gradle
          uses: gradle/actions/setup-gradle@v4
          with:
            cache-read-only: false

        - name: Build with Gradle
          run: |
            ./gradlew ${{ inputs.gradle_tasks }}
            
        - name: Store reports
          if: failure()
          uses: actions/upload-artifact@v4
          with:
            name: reports
            # Not all builds have tests
            if-no-files-found: ignore
            path: |
              **/build/reports/
              **/build/test-results/

        - name: Run JCC
          if: inputs.jar_compatibility
          run: |
            ./gradlew checkJarCompatibility

        - name: Upload JCC
          uses: neoforged/action-jar-compatibility/upload@v1
          if: inputs.jar_compatibility

        # TODO - in the future some projects may need to override settings of this step
        - name: Publish artifacts
          uses: neoforged/action-pr-publishing/upload@v1
